<h2>Meal</h2>
<h5><a href="/meals">Back</a></h5>
<br><br>

<label>Name(s) of Food: <%= @meal.name %></label>
<br>

<label>Total Calories: <%= @meal.calories %></label>
<br><br>

<label>Eaten on:
    <% @log = Log.find(@meal.log_id) %>
    <a href="/logs/<%= @log.id %>"><%= @log.date %></a>
</label>
<br><br>

<form action="/meals/<%= @meal.id %>/edit" method="GET">
  <input type="submit" value="Edit Meal">
</form>

<form action="/meals/<%= @meal.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Meal">
</form>

<form align="right" action='/logout' name="logout" method="GET">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>
