<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
<h2>Your Log</h2>

<h5><a href="/logs">Back to Logs</a></h5>
<br><br>

<label>Date: </label>
  <%= @log.date %>
<br><br>

<label>Meals for this Date: </label>
  <% @log.meals.all.each do |meal| %>
    <ul>
      <li><a href="/meals/<%= meal.id %>"><%= meal.name %></a></li>
    </ul>
  <% end %>
<br><br>

<label>Total Calories for This Day:</label>
  <% @total_cal = 0 %>
  <% @log.meals.all.each do |meal| %>
    <% @total_cal = @total_cal + meal.calories %>
  <% end %>
  <%= @total_cal %> Calories
<br><br>

<form action="/logs/<%= @log.id %>/edit" method="GET">
  <input type="submit" value="Edit Log">
</form>

<form action="/logs/<%= @log.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Log">
</form>

<form align="right" action='/logout' name="logout" method="GET">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>
